<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <!-- START: ChatGPT recomms -->
    <!-- Permission for accessing the camera -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Permission for accessing the microphone -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- For devices running Android 10 (API level 29) and below -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Commenting out as its throwing an error in play console. 
    For devices running Android 11 (API level 30) and above -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> 
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> -->

    <!-- Permissions for accessing images and videos -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <!-- END: ChatGPT recomms -->

    <!-- Hardware features -->
    <!-- <uses-feature android:name="android.hardware.camera" android:required="true"/> -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Armak"
        android:usesCleartextTraffic="true">

        <!-- Device Administrator Receiver -->
        <!--<receiver
            android:name="com.google.android.apps.mtaas.deviceadmin.DeviceAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="true">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver> -->

        <!-- Other components and activities of your application -->
        <activity
            android:name="com.koustubh.armak.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>